* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
	font-weight: 700;
}
.wrapper {
	background: url('images/bg-pattern-intro-left-desktop.svg');
	background-position: -30px center;
	background-repeat: no-repeat;
}
h1,
h2,
h3,
h4 {
	font-family: 'Poppins' !important;
	font-weight: 400 !important;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
	align-items: center;
}
.harmburger {
	display: none;
}
.nav__item > ul {
	display: flex;
	padding: 0;
	margin: 10px;
	align-items: center;
}
.nav__item li {
	list-style-type: none;
	margin: 0 25px;
	cursor: pointer;
	text-transform: uppercase;
}
.nav__btn {
	padding: 10px 25px;
	border: 1px solid hsl(256, 26%, 20%);
	color: hsl(256, 26%, 20%);
	background: hsl(0, 0%, 98%);
	transition: all .5s;
	cursor: pointer;
	margin-right: 0 !important;
}
.nav__btn:hover {
	color: hsl(0, 0%, 98%);
	background: hsl(256, 26%, 20%);
}
.banner {
	background: hsl(256, 26%, 20%);
}
.hero {
	padding: 15px 70px;
	display: flex;
	justify-content: space-between;
	padding: 15px 70px;
}
.hero__img {
	position: relative;
	width: 400px;
	top: 30px;
	right: 10px;
}
.hero__img img {
	position: absolute;
	width: 100%;
}
.hero__left-article {
	padding: 80px 0;
	color: hsl(0, 0%, 98%);
	margin-left: 30px;
}
.horizontal--span {
	display: block;
	width: 100px;
	height: 1px;
	background: hsl(0, 0%, 98%);
}
.span-color {
	background: hsl(256, 26%, 20%);
}
.hero__left-article h1 {
	font-size: 48px;
	line-height: 40px;
	margin-bottom: 15px;
}
p {
	font-size: 18px;
}
.hero__btn {
	padding: 10px 25px;
	border: 1px solid hsl(0, 0%, 98%);
	color: hsl(0, 0%, 98%);
	background: hsl(256, 26%, 20%);
	transition: all .5s;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}
.hero__btn:hover {
	color: hsl(256, 26%, 20%);
	background: hsl(0, 0%, 98%);
}
main {
	margin-top: 150px;
	padding: 0 70px;
}
main h2 {
	font-size: 48px;
}
.different aside {
	display: flex;
	justify-content: space-between;
	/* column-count: 3; */
}
.different article {
	padding: 10px;
}
footer {
	background: url('images/bg-pattern-footer-desktop.svg');
	background-color: hsl(256, 26%, 20%);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 30px 70px;
	background-color: hsl(0, 0%, 98%);
}
.footer__nav {
	border-bottom: .5px solid hsl(273, 4%, 51%);
	padding: 0;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
footer aside {
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	text-align: left;
}
footer ul {
	padding: 0;
}
footer li {
	list-style: none;
	margin-top: 10px;
	cursor: pointer;
}
footer h4 {
	color: hsl(273, 4%, 51%);

	font-size: 15px;
}
.how_Work {
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
	align-items: center;
	color: hsl(0, 0%, 98%);
	background: url('images/bg-pattern-how-we-work-desktop.svg');
	background-color: hsl(256, 26%, 20%);
	background-position: top right;
	background-repeat: no-repeat;
	margin-top: 70px;
	margin-bottom: 70px;
}
@media screen and (max-width: 940px) {
	footer {
		background: url('images/bg-pattern-footer-mobile.svg');
		background-color: hsl(256, 26%, 20%);
		background-position: top left;
		background-repeat: no-repeat;
		padding: 30px 30px;
		background-color: hsl(0, 0%, 98%);
	}
	.footer__nav {
		display: block;
		text-align: center;
	}
	.footer__nav ul {
		margin: 30px;
		justify-content: center;
	}
	footer aside {
		display: block;
		text-align: center;
	}
	footer h4 {
		margin: 30px;
	}
	.how_Work {
		display: block;
		text-align: center;
		padding: 50px;
		background: url('images/bg-pattern-how-we-work-mobile.svg');
		background-position: top right;
		background-repeat: no-repeat;
		background-color: hsl(256, 26%, 20%);
	}
	.different aside {
		display: block;
	}
	.different {
		text-align: center;
	}
	.span-color {
		margin: 0 auto;
	}
	.hidden-span {
		display: none;
	}
	.hero {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, minmax(0, auto));
		padding-top: 0;
	}
	.hero__img {
		grid-column: 1/13;
		grid-row: 1/2;
		position: static;
		width: 100vw;
	}
	.hero__left-article {
		grid-column: 1/13;
		grid-row: 2/3;
		padding: 30px;
		text-align: center;
		margin-left: 0px;
	}
	.hero__img img {
		position: static;
		width: 100%;
	}
	main {
		padding: 30px;
	}
	.nav-mobile {
		padding: 15px 0;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, minmax(0, auto));
	}
	header .nav__logo {
		grid-column: 1/3;
		grid-row: 1/2;
		padding-left: 30px;
	}
	header .harmburger {
		grid-column: 12/13;
		display: block;
		grid-row: 1/2;
		padding: 10px;
		margin-right: 30px;
		cursor: pointer;
		border: 1px solid hsl(270, 9%, 17%);
	}

	header .harmburger span {
		width: 30px;
		transition: all .3s ease-in;
		height: 3px;
		margin: 0 auto;
		display: block;
		border-radius: 50px;
		background-color: hsl(256, 26%, 20%);
	}
	.harmburger span:nth-child(2).drop {
		background-color: transparent;
	}

	.harmburger span:nth-child(1).cross {
		transform: rotate(50deg);
		position: relative;
		top: 5px;
	}

	.harmburger span:nth-child(3).revCross {
		transform: rotate(-50deg);
		position: relative;
		top: -10px;

		transform-origin: 'top left';
	}
	header .harmburger span:nth-of-type(even) {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	header .nav__item {
		grid-column: 1/13;
		grid-row: 2/3;
		margin-top: 15px;
		display: none;
		padding: 15px;
		transition: all 0.5s;
		background-color: hsl(256, 26%, 20%);
	}
	header .nav__item > ul {
		display: block;
		margin: 0;
		text-align: center;
	}
	header .nav__item li {
		margin: 20px 0;
		color: hsl(0, 0%, 98%);
	}
	header .nav__item.open {
		display: block;
		height: auto;
	}

	header .nav__btn {
		padding: 10px 25px;
		border: 1px solid hsl(0, 0%, 98%);
		color: hsl(0, 0%, 98%);
		background: hsl(256, 26%, 20%);
		transition: all .5s;
		cursor: pointer;
		margin-right: 0 !important;
	}
	header .nav__btn:hover {
		color: hsl(256, 26%, 20%);
		background: hsl(0, 0%, 98%);
	}
}
